.game-board {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 10% auto;
    justify-content: space-around;
    align-items: center;
    border-radius: 3%;
}
.scoreboard{
    font-size: 3rem;
    position: absolute;
    top: 50px;
    left: 100px;
}

.box {
    border: 1px solid black;
    border-radius: 20%;
    height: 240px;
    width: 240px;
    background: blue;
}

.red {
    background: red;
}


